@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  font-size: 10px;
  background: url(ny.jpg) no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: gray;
}

.nav_tool li,
a {
  font-size: 15px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}

.nav_tool {
  list-style: none;
}

.nav_tool li {
  display: inline-block;
  padding: 0 10px;
}

.nav_tool li a:hover {
  color: black;
  background-color: #edf0f1;
}

.title_head {
  padding-top: 15px;
}

.title_head h1 {
  font-size: 40px;
  color: #edf0f1;
  text-align: left;
  border-bottom: 1px solid #edf0f1;
  padding: 15px;
}

.title_head h2 {
  font-size: 25px;
  text-align: center;
  padding: 15px;
  color: #edf0f1;
}

.main {
  width: 80%;
  margin: 0 auto;
}

.container1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  column-gap: 1rem;
  padding: 20px;
}

.budget {
  width: 100%;
  border: 4px solid;
  border-radius: 5px;
  color: #edf0f1;
  padding: 1rem;
}

#form1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

label {
  font-size: 20px;
  color: #edf0f1;
  margin: 10px 0;
}

.textbox1 {
  border: 2px solid green;
  border-radius: 5px;
  height: 2rem;
  margin: 1rem 0;
  width: 50%;
}

.addButton {
  width: 15rem;
  border: 2px solid green;
  padding: 10px 0;
  border-radius: 5px;
  color: #edf0f1;
  background-color: green;
  cursor: pointer;
}

.addButton:hover {
  background-color: rgb(130, 202, 120);
}

.error {
  background-color: rgb(204, 87, 87);
  margin: 0;
  color: #edf0f1;
  transform: scaleY(0);
  height: 0;
  transition: 0.3s;
  transform-origin: top;
}

.error_show {
  transform: scaleY(1);
  height: 90%;
  padding: 10px;
}

.error_input {
  border: 2px solid rgb(204, 87, 87);
}

.display {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  color: #edf0f1;
  padding: 10px;
}

.display_item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 15px;
  text-align: justify;
}

.money_in {
  font-size: 3rem;
  color: rgb(71, 182, 71);
}

.money_out {
  font-size: 3rem;
  color: rgb(236, 90, 90);
}

.balance {
  font-size: 3rem;
  color: rgb(156, 156, 236);
}

.container2 {
  display: grid;
  grid-template-columns: repeat(auto-fit), minmax(40rem, 1fr);
  column-gap: 1rem;
  padding: 20px;
  margin: 2rem 0;
}

.output {
  width: 100%;
  border: 4px solid;
  border-radius: 5px;
  padding: 1rem;
  color: #edf0f1;
}

#form2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

#form2 p {
  padding: 10px;
}

.textbox2 {
  border: 2px solid rgb(238, 81, 81);
  border-radius: 5px;
  height: 2rem;
  margin: 1rem 0;
  width: 50%;
}

.textbox3 {
  border: 2px solid rgb(238, 81, 81);
  border-radius: 5px;
  height: 2rem;
  margin: 1rem 0;
  width: 50%;
}

.minButton {
  width: 15rem;
  border: 2px solid rgb(238, 81, 81);
  padding: 10px;
  border-radius: 5px;
  color: #edf0f1;
  background-color: rgb(238, 81, 81);
  cursor: pointer;
}
.minButton:hover {
  background-color: rgb(212, 142, 137);
}

.list {
  width: 100%;
  padding: 10px;
}

.list h1 {
  padding: 10px 0;
  text-align: left;
  color: #edf0f1;
  font-size: 25px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: rgb(160, 158, 158);
}

th,
td {
  width: calc(100% / 3);
  text-align: center;
  border: 2px solid #edf0f1;
  padding: 0.5rem;
}

.exp_name,
.exp_amount {
  font-size: 15px;
  color: #edf0f1;
}

.delete {
  border: none;
  padding: 3px;
}

.deleteButton {
  width: 5rem;
  border: 2px solid rgb(238, 81, 81);
  padding: 10px 0;
  border-radius: 5px;
  color: #edf0f1;
  background-color: rgb(238, 81, 81);
  cursor: pointer;
}

.container3 {
  display: grid;
  grid-template-columns: repeat(auto-fit), minmax(40rem, 1fr);
  column-gap: 1rem;
  padding: 20px;
  margin: 2rem 0;
  color: #edf0f1;
  border: 4px solid;
  border-radius: 5px;
}

.container3 h1 {
  padding: 10px;
  text-align: left;
  color: #edf0f1;
  font-size: 25px;
}

.container4 {
  grid-template-columns: repeat(auto-fit), minmax(40rem, 1fr);
  column-gap: 1rem;
  padding: 20px;
  margin: 2rem 0;
  color: #edf0f1;
  border: 4px solid;
  border-radius: 5px;
}
.container4 h1 {
  border-bottom: 1px solid #edf0f1;
}

.container4 p {
  padding: 10px;
}

.container4 input {
  width: 100px;
}

.container4 button {
  width: 5rem;
  border: 2px solid rgba(54, 162, 235, 0.5);
  padding: 10px 0;
  border-radius: 5px;
  color: #edf0f1;
  background-color: rgba(54, 162, 235, 0.5);
  cursor: pointer;
}

.container4 button:hover {
  background-color: rgba(54, 162, 235, 0.7);
}
