@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  font-size: 10px;
  background: url(ny.jpg) no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: gray;
}

.nav_tool li,
a {
  font-size: 15px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}

.nav_tool {
  list-style: none;
}

.nav_tool li {
  display: inline-block;
  padding: 0 10px;
}

.nav_tool li a:hover {
  color: black;
  background-color: #edf0f1;
}

.title_head {
  padding-top: 15px;
}

.title_head h1 {
  font-size: 40px;
  color: #edf0f1;
  text-align: left;
  border-bottom: 1px solid #edf0f1;
  padding: 15px;
}

.main {
  width: 100%;
  margin: 0 auto;
  background-color: #edf0f1;
  border-radius: 5px;
  padding: 40px;
  display: inline-block;
}

ul {
  font-size: 25px;
  font-style: bold;
  padding: 10px;
  margin: auto;
}

.main p {
  font-size: 16px;
  padding: 15px;
  border-bottom: 1px solid black;
}

h2 {
  font-size: 35px;
  padding: 10px;
  color: #edf0f1;
  border-bottom: 1px solid #edf0f1;
}

.examples {
  color: #edf0f1;
  padding: 20px;
}
.examples h1 {
  font-size: 25px;
  padding: 10px;
  color: #edf0f1;
}

.examples p {
  font-size: 16px;
  padding: 15px;
}
